html,
body,
#root,
.App {
  height: 100%;
}

.generated-code {
  /* height: 80%; */
  width: 100%;
  font-size: 12px;
  background: #ddd;
  font-family: 'Courier New', Courier, monospace;
  min-height: 400px;
}

.MuiExpansionPanel-root {
  background-color: rgba(0, 0, 0, 0.05) !important;
}
