html,
body,
#root,
.App {
  height: 100%;
}
.form-container {
  padding: 10px;
  margin: 10px;
  background: #eee;
}

.form-container > div {
  padding: 5px;
}
.form-container > div > div {
  padding: 5px;
}

.generated-code {
  height: 100%;
  width: 100%;
  position: fixed;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
}
